html{
  background: #f2f2f2;
}

body{
  background: #fff;
  margin: 0 auto;
  width: 900px;
  padding: 20px;
  font-size: 100%;
  border: 1px solid #ccc;
  border-top: none;
  font-family: arial, sans-serif;
}

dl{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl dt{
  float: left;
  width: 120px;
  margin: 0;
  padding: 5px 0;
}

dl dd{
  margin: 0;
  padding: 5px 0;
  margin-left: 130px;
}

canvas{
  outline: none;
}
