html{
  background: #f2f2f2;
}

body{
  background: #fff;
  margin: 0 auto;
  width: 900px;
  padding: 20px;
  font-size: 100%;
  border: 1px solid #ccc;
  border-top: none;
  font-family: Lato, arial, sans-serif;
  color: #222;
}

a{
  text-decoration: none;
  color: #36d;
}

dl{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl dt{
  float: left;
  width: 100px;
  margin: 0;
  padding: 5px 0;
}

dl dd{
  margin: 0;
  padding: 5px 0;
  margin-left: 110px;
}

dl dd input{
  width: 100%;
  font-family: inherit;
}

button{
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 4px 12px;
  border: 1px solid #aaa;
  background: #eee;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 1px 1px #fff;
  -moz-box-shadow: inset 0 0 1px 1px #fff;
  -o-box-shadow: inset 0 0 1px 1px #fff;
  box-shadow: inset 0 0 1px 1px #fff;
}

button:hover, button:focus{
  background: #f9f9f9;
}

canvas{
  outline: none;
  cursor: pointer;
}

code, pre{
  font-size: inherit;
  font-family: consolas, inconsolata, fixed;
  background: #f2f2f2;
  color: #444;
}

pre{
  padding: 8px;
  border: 1px dashed #ccc;
}

#demo{
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 20px;
}

#sketch{
  float: left;
}

#controls{
  margin-left: 420px;
}

a.forkme{
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  padding: 8px 14px;
  background: #3a3;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.45), inset 0 25px 20px -10px rgba(255, 255, 255, 0.5);
  border-radius: 0 0 0 8px;
  border: 1px solid #282;
  border-top: none;
  border-right: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

a.forkme i{
  margin-right: 4px;
}
