html{
  background: #f2f2f2;
}

body{
  background: #fff;
  margin: 0 auto;
  width: 900px;
  padding: 20px;
  font-size: 100%;
  border: 1px solid #ccc;
  border-top: none;
  font-family: arial, sans-serif;
  color: #222;
}

dl{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl dt{
  float: left;
  width: 100px;
  margin: 0;
  padding: 5px 0;
}

dl dd{
  margin: 0;
  padding: 5px 0;
  margin-left: 110px;
}

dl dd input{
  width: 100%;
}

canvas{
  outline: none;
  cursor: pointer;
}

code, pre{
  font-size: inherit;
  font-family: consolas, inconsolata, fixed;
  background: #f2f2f2;
  color: #444;
}

pre{
  padding: 8px;
  border: 1px dashed #ccc;
}

#demo{
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 20px;
}

#sketch{
  float: left;
}

#controls{
  margin-left: 420px;
}
